.idea/
*.iml
*.ipr
*.iws
*.log
.DS_Store
Thumbs.db
captures/

.gradle/
!gradle-wrapper.jar
gradle-app.setting
gradle.xml

/build/
/*/build/
/app/build/
/**/build/
*/out/

!src/**/build/

.kotlin/
*/.kotlin/
.compose-cache/
**/.compose-cache/
**/compose-build/

*.klib
*.knm
*/bin/
*/build/cocoapods/
*.podspec

local.properties
*.keystore
*.jks
key.properties
keystore.properties
edvo-release.jks

.externalNativeBuild
.cxx

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
DerivedData/
Pods/

*.apk
*.aab
*.ap_

edvo-rules.md
edvo_backup.enc
edvo_backup.json
dump.db

# node_modules/
# package-lock.json
# yarn.lock
# */wasmJs/
# */browserProductionWebpack/

todo.txt

.agent/
